<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <title>{{ t["title"] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <body>
    <!-- Перемикач мов -->
    <div class="lang-switch">
        <a href="{{ url_for('index', lang='ru') }}">RU</a> |
        <a href="{{ url_for('index', lang='en') }}">EN</a>
    </div>

    <!-- Hero -->
    <section class="hero">
      <div class="hero-content">
          <h1>{{ t["title"] }}</h1>
          <h2>{{ t["subtitle"] }}</h2>
          <p>{{ t["text1"] }}</p>
          <a href="{{ url_for('form', lang=lang) }}" class="btn">
              {{ t["button1"] }}
          </a>
      </div>
    </section>


    <!-- Features -->
    <section class="features">
      <div class="features-overlay">

        <!-- Заголовок праворуч -->
        <h2 class="overlay-title">
          {{ t["text2"] }}
        </h2>

        <!-- Кнопка -->
        <a href="{{ url_for('form', lang=lang) }}" class="btn overlay-btn">
          {{ t["button2"] }}
        </a>

        <!-- Текст праворуч -->
        <p class="overlay-text-right">
          {{ t["text3"] }}
        </p>

        <!-- Текст під AI -->
        <p class="overlay-text-left">
          {{ t["text4"] }}
        </p>
      </div>
    </section>

  <!-- Scout -->
  <section class="scout">
    <div class="scout-content">
      <a href="{{ url_for('form', lang=lang) }}" class="btn">{{ t["button3"] }}</a>
      <h2>Scout™</h2>
      <p>{{ t["scout"] }}</p>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <h3>{{ t["title_company"] }}</h3>
      <p>{{ t["company_contact"] }}</p>
      <small>{{ t["impressum"] }}</small>
    </div>
  </footer>
</body>
</html>
