<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17544823518"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-17544823518');
  </script>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/leaf.jpg') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ t["title"] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Meta Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1741793066481788');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1741793066481788&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
</head>


<body>
  <!-- Перемикач мов -->
  <div class="lang-switch">
    <a href="{{ url_for('index', lang='ru') }}">RU</a> |
    <a href="{{ url_for('index', lang='en') }}">EN</a>
  </div>


  <div class="container">
    <h1>{{ t["title"] }}</h1>
    <h2>{{ t["subtitle"] }}</h2>

    <div class="section">
      <p>{{ t["text1"] }}</p>
    </div>

    <h3 style="text-align:center; font-size: 28px; margin:14px 0 44px">W.A. AI™</h3>

    <!-- Кнопка -->
    <div class="cta-wrap" style="text-align:center; margin-top:20px;">
      <div id="btn_1" class="btn" data-target="/form?lang={{ lang }}">
        {{ t["button1"] }}
      </div>
    </div>
  </div>

  <section class="hero container">
    <div class="card">


      <!-- Сітка карток -->
      <div class="cards">

        <div class="mini">
          <h4>{{ t["card1_title"] }}</h4>
          <div class="val">{{ t["card1_value"] }}</div>
          <div class="meta">{{ t["card1_meta"] }}</div>
        </div>

        <div class="mini">
          <h4>{{ t["card2_title"] }}</h4>
          <div class="val">{{ t["card2_value"] }}</div>
          <div class="meta">{{ t["card2_meta"] }}</div>
        </div>

        <div class="mini">
          <h4>{{ t["card3_title"] }}</h4>
          <div class="val">{{ t["card3_value"] }}</div>
          <div class="meta">{{ t["card3_meta"] }}</div>
        </div>

<!--        <div class="mini">-->
<!--          <h4>{{ t["card4_title"] }}</h4>-->
<!--          <div class="val">{{ t["card4_value"] }}</div>-->
<!--          <div class="meta">{{ t["card4_meta"] }}</div>-->
<!--        </div>-->
      </div>

    </div>
  </section>

  <section class="row container">
    <img src="{{ url_for('static', filename='img/AI_photo.png') }}" alt="AI">

    <div class="text">
      <h3>{{ t["text2"] }}</h3>

<!--      <p>{{ t["text3"] }}</p>-->
    </div>

<!--    &lt;!&ndash; кнопка окремо &ndash;&gt;-->
<!--    <a class="btn big-btn center-btn" href="#scout">{{ t["button2"] }}</a>-->
  </section>
  <!-- кнопка окремо -->
  <div class="btn-wrapper">
    <!-- Кнопка -->
    <div class="cta-wrap" style="text-align:center; margin-top:20px;">
      <div id="btn_2" class="btn" data-target="/form?lang={{ lang }}">
        {{ t["button2"] }}
      </div>
            <!-- Event snippet for Click – Запуск демо conversion page
      In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
      <script>
      function gtag_report_conversion(url) {
        var callback = function () {
          if (typeof(url) != 'undefined') {
            window.location = url;
          }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-17544823518/iN_KCM2n_qgbEN6Fg65B',
            'event_callback': callback
          });
        return false;
        }
      </script>
    </div>
  </div>

    <!-- друга частина з новим фоном -->
  <section class="alt-bg">
    <div class="container">
      <section class="charts container">
        <h3>{{ t["text4"] }}</h3>

        <!-- Плаваючий графік у правому верхньому куті -->
    <!--    <img class="floating-graph" src="{{ url_for('static', filename='img/graph_pen.jpg') }}" alt="Graph">-->

        <!-- HTML — додай окремі класи кожному з двох зображень -->
        <div class="chart-row">
          <img src="{{ url_for('static', filename='img/monitor_code.png') }}"
               alt="Code on monitor"
               class="resizable left-img">
          <img src="{{ url_for('static', filename='img/people_graphic.png') }}"
               alt="People with graphs"
               class="resizable right-img">
        </div>
      </section>

    <!-- СКАУТ -->
      <section class="scout container">
          <div class="scout-grid">
              <div class="scout-left">

                <div class="scout-text justify">
                  {{ t["scout"] }}
                </div>
              </div>

              <div class="scout-right">
                <div class="anal-card">
                  <h4>{{ t["anal_title"] }}</h4>
                  <div class="val">25,050</div>
                  <div class="meta-row">
                    <div class="meta-box">
                      <div class="meta-label">{{ t["card4_meta_1"] }}</div>
<!--                      <div class="meta-value">1,400.24</div>-->
<!--                      <div class="meta-change plus">+12%</div>-->
                    </div>
                    <div class="meta-box">
                      <div class="meta-label">{{ t["card4_meta_2"] }}</div>
<!--                      <div class="meta-value">40.00</div>-->
<!--                      <div class="meta-change minus">+9%</div>-->
                    </div>
                  </div>
                </div>

                <div id="btn_3" class="btn" data-target="/form?lang={{ lang }}">
                  {{ t["button3"] }}
                </div>
              </div>
          </div>

            <!-- ПРАВА КОЛОНКА: візуалізація Scout -->
            <!--    <div class="scout-right">-->
            <!--      <img-->
            <!--        class="scout-visual"-->
            <!--        src="{{ url_for('static', filename='img/people_grapic.png') }}"-->
            <!--        alt="Scout™"-->
            <!--      />-->
            <!--    </div>-->

      </section>


  <!-- Чорний футер -->
      <div class="footer">
        <h3>{{ t["title_company"] }}</h3>
        <p>{{ t["company_contact"] }}</p>
        <p>{{ t["impressum"] }}</p>
      </div>
    </div>
  </section>

  <script>
    ["btn_1","btn_2","btn_3"].forEach(id => {
      document.getElementById(id).addEventListener("click", function(e) {
        e.preventDefault();
        window.location.href = this.dataset.target;
      });
    });
  </script>
</body>
</html>
